{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="container px-32 mt-24">
        <form action="/login/" method="post">
            {% csrf_token %}
            <center>
                <h3 class="mb-12">Login</h3>
            </center>
            <div>
                <label class="block">
                    <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                        Username
                    </span>
                    <input type="text" name="username"
                        class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                        placeholder="your username" />
                </label>
            </div>
            <div class="mt-8">
                <label class="block">
                    <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                        Password
                    </span>
                    <input type="password" name="password"
                        class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                        placeholder="your password" />
                </label>
            </div>
            <div class="mt-8">
                have not account? <a href="/register/" class="text-cyan-500">Regis here</a>
            </div>
            <div class="mt-8">
                <button type="submit" class="px-24 py-2 bg-gray-900 text-white rounded-md">Login</button>
            </div>
        </form>
    </div>
</body>

</html>